# Dependencias y compilación
node_modules
.next

# Datos pesados locales
actualizar_ligas.bat
*.csv
mercado_cuotas.json
api-response.json
flashscore_*.csv

# Git y otros
.git
.gitignore
.env*
.atl/
.gemini/
scratch/

# Archivos de texto (ignoramos todos excepto diccionarios)
*.md
!diccionario_maestro_*.md

# Asegurarse de que los SCRIPTS se incluyan
!scripts/
!scripts/*.js

# Configuraciones VITALES
!tsconfig.json
!next.config.ts
!package.json
!package-lock.json
!postcss.config.mjs
!eslint.config.mjs
